<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="../static/bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" href="../static/css/style.css">

    <script src="../static/bower_components/angular/angular.js"></script>
    <script src="../static/bower_components/angular-aria/angular-aria.js"></script>
    <script src="../static/bower_components/angular-animate/angular-animate.js"></script>
    <script src="../static/bower_components/angular-route/angular-route.js"></script>
    <script src="../static/bower_components/angular-material/angular-material.js"></script>

    <script src="../static/js/main.js"></script>

</head>
    <body ng-app="Somabot">

    <md-content>

    <md-toolbar>
      <div class="md-toolbar-tools">
        <h1>
          <span> <a href="#/"> Somabot </a> </span>
        </h1>
        <span flex></span>
        <md-button class="md-icon-button" aria-label="Settings" href="#/settings">
          <md-icon md-svg-icon="../static/img/settings_white.svg"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

  <div ng-view></div>

  </md-content>



</body>
</html>
